.testimonial-container{
    /* background-color: black; */
  width:100vw;
  margin-top: -2rem;
  position: relative;
  box-sizing: border-box;
  margin-top: 2rem;
  height:1000px;
  
  
  }
  
  
  
  
  
  
  
  .testimonial-container  .carousel-control-prev,
  .testimonial-container .carousel-control-next {
  
   height:50px;
   position: absolute;
   top:175px;
   width:50px;
  
  }
  
  
  
  
  
  .carousel{
    width:90vw;
    max-width: 860px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  
  .testimonial-name{
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 2.5rem;
    
  }
  
  
  
  
  .testimonial-box{
  /* position: absolute; */
  
  height:200px;
  /* background-color: darkcyan; */
  top:550px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  }
  
  .testimonial-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .testimonial-name{
    color:white;
  }
  
  .sample{
    color:white;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: inline-block; /* Ensures the container only takes the width it needs */
    /* white-space: nowrap;  */
  }
  
  .sample::after {
    content: "..."; /* Display ellipsis (...) to indicate hidden content */
    position: absolute;
    bottom: 0;
    right: 0;
    background: #242424; /* Match the background color of the paragraph */
  }
  
  .testimonial-intro{
    margin-left:auto;
    margin-right: auto;
    width:80vw;
    text-align: center;
    overflow: hidden;
  }
  
  .testimonial-intro .description-text{
  
    font-family: 'Palatino Sans', 'Palatino Sans Informal', 'Palatino Sans Text', 'Palatino Sans W1G', 'Palatino Sans W01',sans-serif;
    color:#ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 1rem;
   padding: 1rem 1rem 0 1rem;
  
  }
  
  .carousel .carousel-indicators{
    display:none;
  }
  
  .testimonial-box{
    
    height:500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width:300px;
    
  }
  
  .testimonial-container .carousel{
    margin-left: auto;
    margin-right: auto;
    width:100vw;
  }
  
  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: -3rem; */
    /* width:10vw; */
  }
  
  .carousel-inner{
    width:100vw;
    margin-right: 2rem;
  }
  
  .testimonial-video{
    width:90vw;
    max-width: 760px;
    max-height: 360px;
    position: relative;
  }
  
  @media screen and (min-width:655px) {
    .testimonial-video{
      max-height: 400px;
    }
  
    .testimonial-container{
      margin-bottom: -3rem;
    }
  
    .testimonial-name{
      font-size: 2.4rem;
    }
  }
  
  
  @media screen and (min-width:865px) {
    .testimonial-container{
      margin-bottom: 0rem;
    }
  
    .testimonial-name{
      font-size: 3.5rem;
    }
  
  
    
  
    .testimonial-box {
        top:700px;
    }
  
    .testimonial-box h2{
  
    }
    
    .testimonial-box p{
    
     
      
      
    }
  
    .testimonial-container .description-text{
      text-align: center;
    }
  
    .testimonial-video{
      width:48vw;
      height:58vw;
      max-height: 500px;
      max-width: 638px;
    }
  
  
  
    .testimonial-container  .carousel-control-prev,
  .testimonial-container .carousel-control-next {
  
   
    /* height:min-content; */
    /* position: absolute;
    top:20%;
    right:20%; */
  
  
    z-index: 2;
  
  }
  
  
  }
  
  
  @media screen and (min-width:1000px) {
  
    .testimonial-name{
      font-size: 4rem;
    }
  
    .testimonial-intro .description-text{
      font-size: 1.3rem;
    }
  }
  
  
    
  
  
    