


body, html {
  margin: 0;
  padding: 0;
}

.App-header {
  font-size: 1rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-bottom: 2rem;
}
.carousel-images {
  position: relative;
  border-radius: 10px;
  
  margin: auto;
  overflow: hidden;
}
.carousel-images img {
  height: 300px;
  border-radius: 8px;
  border: #ff00008e solid 2px;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  background-color: #fb666675;
  color: #fff;
  padding: 5px 6px 15px 10px;
 
  border-radius: 50%;
  position: absolute;
  top: 10;
  bottom: 0;
  left:50;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 10px;
  width: 10px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #fa2020;
}

.header-container{
 display: flex;
 justify-content: space-between;
 width: 100vw;
 position: absolute;
 top: 30px;

}

.logo{
  margin-left: 20px;
}

.nav-list{
  
  list-style: none;
  padding: 0; /* Remove any default padding */
  margin: 0;
  transform: translateX(-10px);


  
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically center-align the items */
  text-align: center; /* Horizontally center-align the text within li elements */
}

.nav-button{
  margin-right: 20px;
}

.header-container button{
  background-color: transparent;
}



.about-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  padding: 2rem;
}

.about {
  text-align: center;
  max-width: 600px; /* Set the maximum width of the content */
}

.title{
  display: flex;
  text-align: center;
  flex-direction: column;
}

.title p{
  margin-top:-15px
}

.about h2 {
  font-size: 24px;
  color: #333; /* Set the text color for the heading */
  margin-bottom: 1rem;
}

.about p {
  font-size: 16px;
  color: #555; /* Set the text color for the paragraph */
}

.image-gallery{
  display: block;

}

.image-container{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;

}

.gallery-buttons{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}




