


body, html {
  margin: 0;
  padding: 0;
}


.header-container{
 display: flex;
 justify-content: space-between;
 width: 100vw;
 position: absolute;
 top: 30px;

}

.logo{
  margin-left: 20px;
}

.nav-list{
  
  list-style: none;
  padding: 0; /* Remove any default padding */
  margin: 0;
  transform: translateX(-10px);


  
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically center-align the items */
  text-align: center; /* Horizontally center-align the text within li elements */
}

.nav-button{
  margin-right: 20px;
}

.header-container button{
  background-color: transparent;
}



.about-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  padding: 2rem;
}

.about {
  text-align: center;
  max-width: 600px; /* Set the maximum width of the content */
}

.title{
  display: flex;
 
  flex-direction: column;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.title p{
  margin-top:-15px;
  text-align: left;
  flex-direction: column;
 
  
}

.about h2 {
  font-size: 24px;
  color: #333; /* Set the text color for the heading */
  margin-bottom: 1rem;
}

.about p {
  font-size: 16px;
  color: #555; /* Set the text color for the paragraph */
}

.image-gallery{
  display: flex;
  position: relative;
  justify-content: center; /* Horizontally center-align its children */
  align-items: center; 
  
}

.image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.image-gallery button{
  background-color: transparent;
  height: 20px;

  
}

.skills-section {
 
  padding: 2rem;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
 
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}

.skill-name {
  font-weight: bold;
}

.skill-level {
  font-style: italic;
}

.skills-section {
  /* Your section styles */
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

}

.skill-card {
  position: relative;
  width: 200px;
  margin: 10px;
  cursor: pointer;
}

.skill-name {
  
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  flex: 1; 
  width: 150px;
}

.description-content{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF5733;
 
  
}

.description-content button {
  margin-top: 10px;
  background-color: rgb(66, 55, 55);
  width:100px;
  
}

.skill-name a{
  color:green;
}

.gradient-border {
  border: 5px solid transparent;
  background: linear-gradient(45deg, #FF5733, #FFBD33);
  background-clip: padding-box;
  animation: gradientBorder 3s infinite linear; /* Define a custom animation */
}

.section-title{
  background: linear-gradient(45deg, #FF5733, #FFBD33);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  padding:5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quantum-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-image: radial-gradient(circle, #733855, #37643d, #800080, #0e860e);
  background-size: 200% 200%;
  animation: quantum-animation 5s linear infinite;
}

@keyframes quantum-animation {
  0% {
    background-position: -100% -100%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes gradientBorder {
  0% {
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #FF5733, #FFBD33);
    border-image-width: 3px;
    border-color: transparent;
  }
  50% {
    border-image-slice: 1;
    border-image-source: linear-gradient(135deg, #FF5733, #FFBD33);
    border-image-width: 3px;
    border-color: transparent;
  }
  100% {
    border-image-slice: 1;
    border-image-source: linear-gradient(225deg, #FF5733, #FFBD33);
    border-image-width: 3px;
    border-color: transparent;
  }
}




